@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    background: #272727;
    font-family: JetBrains Mono;
    height: 3000px;
    text-align: center;
}

.navMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
  
.navMenu li {
    text-align: center;
}
  
.navMenu li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 36px;
    
}
.navMenu li a:hover{
    color: #fddb3a;
}
.qaul-button{
    background-color: transparent;
    font-family: JetBrains Mono;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: navy;
  }
  .qaul-button:hover{
      color: red;
  }
.blog-title{
    font-size: 2rem;
}
.blog-sub{
    font-size: 2rem;
}
.blog-date{
    font-size: 1.2rem;
}
.blog-body{
    font-size: .8rem;
}
.blog-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.blog-item{
    border: 1px;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 1200px){
    .navMenu a{
      font-size: 2rem;
      width: auto;
    }
    .blog-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    @media screen and (max-width: 855px) {
      .blog-section{
          display: grid;
          grid-template-columns: 1fr;
          padding: 10px;
          grid-column-gap: 50px;
          grid-row-gap: 50px;
      }
      @media screen and (max-width: 500px) {
        .blog-title{
            font-size: 1.5rem;
        }
        .blog-sub{
            font-size: 1.5rem;
        }
        .blog-date{
            font-size: .8rem;
        }
        .blog-body{
            font-size: .8rem;
        }


      }

    
}
}
