@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    background: #272727;
    font-family: JetBrains Mono;
    height: 3000px;
}
li{
  list-style-type: none;
  padding: .5rem;
}
.centre{
  text-align: center;
}
.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.navMenu1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a  {
  text-align: center;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  margin-right: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu1 a  {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 40px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu a:hover {
  color: #fddb3a;
}
.navMenu1 a:hover {
  color: #fddb3a;
}

.qual-container, .proj-container{
  justify-content: center;
  align-items: center;
  position: 10%;
}
.qual-section{
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  position: absolute;
  padding: 2rem 0 4rem
}
.proj-section{
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 200%;
  position: absolute;
  transform: translate(-50%);
  padding: 2rem 0 4rem
}

.section-sub{
  display: block;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.section-title{
  font-size: 4.5rem;
  color: whitesmoke;
}
.section-title1{
  font-size: 4.5rem;
  color: black;
}

.section-sub, .section-title{
  text-align: center;
}
.section-sub, .section-title, span, h3, i, div{
  color: whitesmoke;
}

.container{
  max-width: 768px;
  margin-left: var(1.5rem);
  margin-right: var(1.5rem);
}
.grid{
  display: grid;
  gap: 1.5rem;
}
.qual-tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.qaul-button{
  color: whitesmoke;
  background-color: transparent;
  font-family: JetBrains Mono;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.qaul-button:hover{
  color: #fddb3a;
}
.qual-icon{
  font-size: 1.8rem;
  margin-right: 0.25rem;
}
.qual-data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}
.qual-sub{
  display: inline-block;
  margin-bottom: 1rem;
}
.qual-rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: yellow;
  border-radius: 50%;
}
.qual-line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: violet;
  transform: translate(6px, -7px);
}

.column{
  float: left;
  width: 50%;
  padding: 10px 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(238, 235, 235, 0.2); /* this adds the "card" effect */
  padding: 25px 10px;
  text-align: center;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
  opacity: 50%;
}

.proj-h3{
  font-size: 2rem;
}
.social-media{
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
}
.soc-icons{
  padding: 0 10px;
}
.soc-icons:hover{
  transform: scale(1.2);
}
.work-list-color{
  color: whitesmoke;
}
@media screen and (max-height: 700px){
  .social-media{
    top: 60%;
  }
}

@media screen and (max-width: 1019px){
.navMenu a{
  font-size: 2rem;
  width: auto;
}
.social-media{
  font-size: 12px;
  width: 250px;
}

@media screen and (max-width: 810px) {
  .section-title{
    font-size: 2.5rem;
  }
  .section-title1{
    font-size: 2.5rem;
  }
  .section-sub{
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  .qaul-button{
    font-size: 1rem;
  }
  .qual-icon{
    font-size: 1.2rem;
  }
  .qual-title{
    font-size: 1.2rem;
  }
  .qual-sub{
    font-size: 1rem;
  }
  .card{
    font-size: 1rem;
  }
  .social-media{
    top: 42%;
  }
}
@media screen and (max-width: 595px){
  .navMenu a{
    font-size: 1.5rem;
  }
  .social-media{
    font-size: 12px;
  }
}
@media screen and (max-width: 450px){
  .navMenu a{
    display: flex;
    font-size: 3rem;
  }
  .qaul-button{
    font-size: 1rem;
  }
  .qual-icon{
    font-size: 1.2rem;
  }
  .qual-title{
    font-size: 1rem;
  }
  .qual-sub{
    font-size: 1rem;
  }
  .card{
    font-size: .5rem;
  }
  .column{
    width: 100%;
  }
  .social-media{
    top: 35%;
  }

  .dark-mode{
    background-color: whitesmoke;
    color: black;
  }
  .black{
    color: blue
  }
}
@media screen and (max-width: 380px){
  .social-media{
    width: 250px;
  }
}
}
